.header {
    top: -100px;
    transition: ease-in;
    animation-name: header-animation;
    animation-duration: 0.8s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes header-animation {
    0% {
       top: -100px}
    85% {
        top: -100px}
    100% {
       top: 0;
    }
}